[column]
ui = auto

[branch]
sort = -committerdate

[tag]
sort = version:refname

[init]
defaultBranch = main

[diff]
algorithm = histogram
colorMoved = plain
mnemonicPrefix = true
renames = true

[push]
default = simple
autoSetupRemote = true
followTags = true

[fetch]
prune = true
pruneTags = true
all = true

[help]
autocorrect = prompt

[commit]
verbose = true

[rerere]
enabled = true
autoupdate = true

[core]
excludesfile = ~/.gitignore

[rebase]
autoSquash = true
autoStash = true
updateRefs = true

# 선택적 설정들 - 필요한 경우 주석을 제거하세요
#[core]
#fsmonitor = true
#untrackedCache = true

#[merge]
#conflictstyle = zdiff3

[user]
name = hwisu
email = hwitticus@gmail.com

[pull]
rebase = true

[alias]
    st = status
    co = checkout
    br = branch
    ci = commit
    unstage = reset HEAD --
    last = log -1 HEAD
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    b = branch
    ba = branch -a
    bd = branch -d
    bD = branch -D
    r = remote
    rv = remote -v
    ss = stash save
    sl = stash list
    sp = stash pop
    sa = stash apply
    rc = rebase --continue
    ra = rebase --abort
    rs = rebase --skip
    mt = mergetool
    t = tag
    ta = tag -a
    td = tag -d
    undo = reset --soft HEAD^
    amend = commit --amend --no-edit
    uncommit = reset --soft HEAD^
    unstage = reset HEAD --
    discard = checkout --
    cleanup = "!git branch --merged | grep -v '\*\|master\|main\|develop' | xargs -n 1 git branch -d"
